.contact {
    padding: 4rem 0rem;
    text-align: center;
}

.title-project {
    font-weight: bold;
    letter-spacing: 1px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #16213e55;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--h1-color); /* Color acento (cyan) */
    font-size: 1.1rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid #0f0d49;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #203651;
    color: var(--p-color);
    resize: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #ff6f61;
    background-color: #1a1a2e;
    outline: none;
}

.submit-button {
    padding: 0.75rem 1.5rem;
    background-color: #202270;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
    background-color: #110e3d;
}
