html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    --tw-bg-opacity: 1;
    background-color: #030712; 
  background-image: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgba(120, 119, 198, 0.3),
    rgba(255, 255, 255, 0) );
    font-family: Onest Variable, system-ui, sans-serif;
}