html, body {
    width: 100%;
    min-height: 100vh; /* Asegura que el body ocupe al menos el 100% del viewport */
    margin: 0;
    padding: 0;
    background-color: #030712; /* Color de fondo base */
    background-image: radial-gradient(
        ellipse 80% 80% at 50% -20%,
        rgba(120, 119, 198, 0.3),
        rgba(255, 255, 255, 0)
    );
    background-attachment: fixed; /* Fija el fondo para que no se desplace con el scroll */
    font-family: 'Onest Variable', system-ui, sans-serif;
    scroll-behavior: smooth;
}

:root{
    --h1-color:#E2E8F0;
    --p-color:#94A3B8;
    --bg-color:#030712;
    --icon-tech: #084ea8;
}